.hero-min-class{
    all:unset;
    max-width: 1280px;
    display:flex;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 10px;
    height: 50rem;
    Box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
    text-align: center;
    justify-content: center;
    background-image: url("https://img.joomcdn.net/db640a256faae3b7a5995f3be69f0006182b5140_original.jpeg");
    background-repeat: no-repeat;
    background-size:cover;

}

.hero-content{
    padding:20px;
}

.shoe-img{
    height: 100%;
    width: 58.5rem;
    Box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12); 
}


